@import "./blocks/normalize.scss";


@font-face {
  font-family: "YS Text";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff2) format("woff2"),url(//yastatic.net/s3/home/fonts/ys/1/text-regular.woff) format("woff");
}
@font-face {
  font-family: "YS Text";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff2) format("woff2"),url(//yastatic.net/s3/home/fonts/ys/1/text-medium.woff) format("woff");
}
@font-face {
  font-family: "YS Text";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff2) format("woff2"),url(//yastatic.net/s3/home/fonts/ys/1/text-bold.woff) format("woff");
}

* {
  box-sizing: border-box;
}


:root {

  --space-xxxxs: 6px;
  --space-xxxs: 8px;
  --space-xxs: 10px;
  --space-xs: 12px;
  --space-s: 13px;
  --space-m: 16px;
  --space-l: 18px;
  --space-xl: 20px;
  --space-xxl: 22px;
  --space-xxxl: 24px;
  --space-xxxxl: 30px;
  --space-xxxxxl: 32px;


  --font-size-s: 8px;
  --font-size-m: 10px;
  --font-size-l: 13px;
  --font-size-xl: 15px;
  --font-size-xxl: 16px;
  --font-size-xxxl: 18px;
  --font-size-xxxxl: 24px;


  --line-height-xs: 15px;
  --line-height-s: 16px;
  --line-height-m: 18px;
  --line-height-l: 20px;
  --line-height-xl: 22px;
  --line-height-xxl: 28px;
  --line-height-xxxl: 30px;
  --line-height-xxxxl: 36px;

  --black: #000000;
  --white: #FFFFFF;

  --red-500: #FF3333;

  --green-500: #00B341;

  --orange-100: #FFCC00;
  --orange-200: #F2C200;
  --orange-300: #B38F00;
  --orange-500: #FF9A00;

  // 50 Оттенков серого
  --grey-10: #F2F2F2;
  --grey-50: #F0F2F3;
  --grey-100: #E6E6E6;
  --grey-200: #DBDBDB;
  --grey-300: #B3B3B3;
  --grey-400: #D9D9D9;
  --grey-500: #CCCCCC;
  --grey-1000: #7f8285;
  --grey-1100: #595959;


  --max-width: 824px;
  --border-radius: 4px;
  --pointer: url("/icon/Vector.svg");
}

::placeholder {
  color: --grey-500;
}

html, body {
  font-family: "YS Text";
  font-style: normal;
  height: 100%;
}

a {
  text-decoration: none;
}

.Page {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: var(--max-width);

  &__center-on {
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 824px) {
  .Content {
    width: 100%;
    padding: 14px var(--space-m) var(--space-xs) var(--space-m);
  }
}

@import "./blocks/Log.scss";

