{
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",  // Uses the recommended rules from the @typescript-eslint/eslint-plugin
    "prettier/@typescript-eslint",  // Uses eslint-config-prettier to disable ESLint rules from @typescript-eslint/eslint-plugin that would conflict with prettier
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "parserOptions":  {
    "project": "server/tsconfig.json",
    "ecmaVersion":  2019,  // Allows for the parsing of modern ECMAScript features
    "sourceType":  "module"  // Allows for the use of imports
  },
  "rules": {
    "import/no-unresolved": 0,
    "max-classes-per-file": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-use-before-define":"off",
    "no-console": 0,
    "no-debugger": 1,
    "no-lone-blocks": 2,
    "guard-for-in":0,
    "no-restricted-syntax":"off",
    "prettier/prettier": [
        "error",
        {
            "singleQuote": false
        }
    ],
    "consistent-return":"off",
    "no-use-before-define":"off",
    "no-plusplus":"off",
    "prefer-destructuring" :"off",
    "no-useless-constructor":"off",
    "constructor-super":"off",
    "no-underscore-dangle":"off",
    "no-this-before-super":"off",
    "default-case":"off",
    "no-case-declarations":"off",
    "no-bitwise":"off",
    "no-param-reassign":"off",
    "no-shadow":"off",
    "no-continue":"off",
    "no-prototype-builtins":"off",
    "no-undef":"off",
    "no-new":"off",
    "class-methods-use-this":"off"
  }
}