.Log {
  border-radius: 6px;
  background-color: var(--grey-10);
  margin: var(--space-m) 0 var(--space-xl) 0;
  padding: var(--space-xxxs) var(--space-xs);
  overflow-x: auto;
  
  @media only screen and (max-width: 824px) {
      margin: var(--space-m) -16px var(--space-m) -16px;
  }
}