.Log {
  border-radius: 6px;
  background-color: var(--grey-10);
  margin: 16px 0 20px 0;
  padding: 8px 12px;
  overflow-x: auto;
  
  @media only screen and (max-width: 824px) {
      margin: 16px -16px 16px -16px;
  }
}