.Link {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

  &_ATag {
    margin-right: var(--space-xs);
    font-style: normal;
    font-weight: 400;
    font-size:  var(--font-size-l);
    line-height: var(--font-size-xxl);
    letter-spacing: 0.06px;

    color: var(--grey-1000);
    cursor: var(--pointer), auto;
  }

  &_ATag:hover {
    color: #E00000;
  }
}